<ion-header>
    <ion-menu-button></ion-menu-button>
    <ion-title>List of Customesrs</ion-title>
</ion-header>

<ion-content>
<ion-card  *ngFor="let customer of list">
 <ion-card-header>
  
  <ion-card-title><ion-icon name="contact"></ion-icon>{{ customer.id }} {{ customer.name }}
    <ion-icon name="create" color="primary" (click)="onEdit(customer.id)"></ion-icon>
    <ion-icon  name="trash" color="danger" (click)="deleteCustomer(customer)"></ion-icon>
  </ion-card-title> <br>
  


        <ion-icon name="mail"></ion-icon>  {{ customer.email }} <br>
        <ion-icon name="phone-portrait"></ion-icon>{{ customer.phone }} <br> 
        <ion-icon name="pin"></ion-icon>{{ customer.address }}
      </ion-card-header>
  </ion-card>
  <ion-button (click)="deleteAllCustomers()">Delete All Customers</ion-button>
</ion-content>
 
 

